.repo
abi
android-patchsets
art
bionic
bootable
build
build-info
cts
dalvik
developers
development
device
docs
external
frameworks
hardware
kernel
libcore
libnativehelper
Makefile
ndk
optee
out
packages
pdk
prebuilts
sdk
system
tools
uefi
vendor
vexpress-firmware
android-tools/apks
android-tools/static-binary/src/bin
build*.log
