.repo
abi
android-patchsets
art
bionic
bootable
build
build-info
cts
dalvik
developers
development
device
docs
external
frameworks
hardware
kernel
libcore
libnativehelper
Makefile
ndk
out
packages
pdk
prebuilts
sdk
system
tools
uefi
vendor
vexpress-firmware
